<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.arduinopinout"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArduinoPinout"
        tools:targetApi="31">
        <activity
            android:name=".ESP38ImageActivity"
            android:exported="true"
            android:parentActivityName=".ESP38Activity">
            <intent-filter>
                <action android:name="ESP38IMAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ESP38Activity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="ESP38PIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ESP30Activity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="ESP30PIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ESP30ImageActivity"
            android:exported="true"
            android:parentActivityName=".ESP30Activity">
            <intent-filter>
                <action android:name="ESP30IMAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ESPBaseActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="ESPBASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ESPBaseImageActivity"
            android:exported="true"
            android:parentActivityName=".ESPBaseActivity">
            <intent-filter>
                <action android:name="ESPBASEIMAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogoActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="LOGOAPP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>